@model BTL_DOTNET2.Models.PostContentViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Thông tin các bài đăng</h1>

<div>
    <div>
        @if (@ViewBag.CurrentUser == @Model.Post.User)
        {
            <a asp-controller="ContentPost" asp-action="Edit" asp-route-id="@Model?.Post.ContentPostId">Edit</a>
        }

        <a asp-action="Index">Back to List</a>
    </div>
    @if (Model!.Post.IsChecked == false)
    {
        <h4>Chưa được duyệt</h4>
        @if (User.IsInRole("SuperAdmin") || User.IsInRole("Admin"))
        {
            <form asp-action="CheckedPost" method="post">
                <input hidden asp-for="@Model.Post.PostId" name="id">
                <input hidden type="checkbox" asp-for="@Model.Post.IsChecked" name="IsChecked">
                <button type="submit" class="btn btn-primary">Duyệt</button>
            </form>
        }

    }
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Người đăng:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Post.User!.UserName)
        </dd>
        <dt class="col-sm-2">
            Tiêu đề:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Post.Title)
        </dd>

        <dt class="col-sm-2">
            Chủ đề:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Post.Cate.CateName)
        </dd>
        <dd class="col-sm-12">
            <b>Nội dung:</b>
            <br>
            @Html.DisplayFor(model => model.Post.ContentPost.Paragram)
        </dd>
        <dd class="col-sm-12">
            <b>Hình ảnh:</b>
            <br>
            <img class="rounded" src="@ViewBag.ImgPostUrl" style="max-width: 70%; max-height: 70%; object-fit: cover;">
        </dd>
    </dl>
    @if(@Model.Post.IsChecked != false){
        <button onclick="showCommentPopup()" id="valueButton">Add Comment</button>
    }
    

</div>
<div id="commentPopup" style="display: none;">
    @await Html.PartialAsync("_CreateComment", new BTL_DOTNET2.Models.PostContentViewModel { Post = Model!.Post })
</div>
@if (@Model.Comments.Count() > 0)
{
    <h3>Commnets</h3>
}

<table>
    @foreach (var comment in Model.Comments)
    {

        <tr>
            <td><b>@comment.User!.UserName
                    @if (comment!.User == @ViewBag.CurrentUser || User.IsInRole("SuperAdmin") || User.IsInRole("Admin"))
                    {
                        <button class="fa-solid fa-ellipsis" onclick="showOptions('optionsMenu_@comment.CommentId')">
                            <div id="optionsMenu_@comment.CommentId" class="options-menu position-absolute end-30">
                                <ul class="list-group">
                                    <li class="list-group-item"><a style="text-decoration: none; color: black;"
                                            asp-controller="ContentComment" asp-action="Edit"
                                            asp-route-id="@comment.ContentCommentId">Edit</a>
                                    </li>
                                    <li class="list-group-item">
                                        <a style="text-decoration: none; color: black;" asp-controller="ContentComment"
                                            asp-action="Delete" asp-route-id="@comment.ContentCommentId">Delete</a>
                                    </li>
                                </ul>
                            </div>
                        </button>
                    }

                </b>

            </td>
        </tr>
        <tr>
            <td>
            </td>
        </tr>
        <tr>
            <td>@comment.ContentComment.Paragraph</td>
        </tr>
        <tr>
            <td>@comment.CommentTime</td>
        </tr>
        <tr>
            <td>
                <img class="rounded float-start" src="@comment.ContentComment.Image" alt=""
                    style="max-width: 50%; max-height: 50%;">
            </td>
        </tr>
    }

</table>
<script>

</script>
<script>
    var doubleTap = 0;
    function showCommentPopup() {
        var popup = document.getElementById("commentPopup");
        var button = document.getElementById("valueButton")
        if (doubleTap % 2 == 0) {
            popup.style.display = "block";
            button.innerText = "Hide Comment";

        }
        else {
            popup.style.display = "none";
            button.innerText = "Add Comment";
        }
        doubleTap++;
    }
    function showOptions(menuId) {
        var menu = document.getElementById(menuId);
        menu.classList.toggle("show");
    }

</script>
