@model IEnumerable<BTL_DOTNET2.Models.Post>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CommentTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsSave)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContentPost)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CommentTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsSave)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cate.CateId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContentPost.ContentPostId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PostId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PostId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PostId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
