@model IEnumerable<BTL_DOTNET2.Models.ContentPost>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/_MyLayout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Paragram)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Paragram)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Image)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ContentPostId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ContentPostId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ContentPostId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
